{{- $pag := . -}}
{{- if gt $pag.TotalPages 1 -}}
<div class="pagination">
	<nav>
		<ul>
			{{- if $pag.HasPrev }}<li><a href="{{ $pag.Prev.URL }}" rel="prev">&larr; Newer</a></li>{{ end }}
			{{- range $pag.Pagers }}
			{{- if eq .PageNumber $pag.PageNumber }}
			<li><span aria-current="page" class="current">{{ .PageNumber }}</span></li>
			{{- else }}
			<li><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
			{{- end }}
			{{- end }}
			{{- if $pag.HasNext }}<li><a href="{{ $pag.Next.URL }}" rel="next">Older &rarr;</a></li>{{ end }}
		</ul>
	</nav>
</div>
{{- end -}}
